
<li *ngIf="pokemon" class="cards bg-gradient-to-r from-red-500 to-yellow-500  mb-3 shadow rounded relative" >
    <app-catch-button [pokemonId]="pokemon.id"></app-catch-button>
   
    <section class="p-4 font-bold">
        <span>{{pokemon.name}}</span>
       
        <img [src]="pokemon.sprites" [alt]="pokemon"  class="block w-72" />
    </section>

</li>
