<nav class="flex justify-between  p-4 sticky top-0 w-full z-50">
    <span ></span>
    <ng-container *ngIf="trainer !== undefined">
    <ul class="flex">
        <li class="bg-gray-300 hover:bg-gray-400 text-red-800 font-bold py-2 px-4 rounded-l">
            <a routerLink="/pokemons">Pokemons</a>

        </li>
        <li class="bg-gray-300 hover:bg-gray-400 text-red-800 font-bold py-2 px-4 rounded-l">
            <a routerLink="/profile" >Profile</a>
        </li>
        <li class ="bg-gray-300 hover:bg-gray-400 text-red-800 font-bold py-2 px-4 rounded-l">
        <button (click)="logOut()" class=""> Log out</button>
        </li>
    </ul>
    </ng-container>
</nav>