<head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
<header class="container mx-auto p-4">
    <img class="animate__animated animate__rubberBand" src ="../../../assets/Welcome-Trainer.png" height="250" width="250" >
</header>

<main class="container mx-auto p-4">
    <img class="animate__animated animate__rubberBand" src ="../../../assets/Your-Pokemons-.png" height="250" width="250" >

<app-pokemon-list [pokemons]="catchedPokemon"></app-pokemon-list>
</main>