
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <!--  <label for="username" class="block">Username</label>-->
        <input type="text" 
                ngModel 
                #username="ngModel" 
                name="username" id="username"
                class="border border-slate-300 p-2 rounded w-200 h-16" 
                placeholder="username" />
    </fieldset>
    <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-red-800 font-bold py-2 px-4 rounded-l">Login</button>

</form>