<aside class="absolute top-4 right-4">
    <button (click)="onCatchClick()" class="border border-slate-300 rounded flex justify-center items-center p-2">

        <ng-container *ngIf="!loading; else spinner">
            <ng-container *ngIf="isCatched; then catched else notCatched"></ng-container>

            <ng-template #catched>
                <span class="material-icons text-red-700">catching_pokemon</span>
            </ng-template>
            <ng-template #notCatched>
                <span class="material-icons text-black">catching_pokemon</span>
            </ng-template>
        </ng-container>

        <ng-template #spinner>
            <span class="material-icons animate-spin">refresh</span>
        </ng-template>

    </button>
</aside>