.container {
    position: absolute;
    width: 921px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
}

.ven{

    position: fixed;
    top: 120px;
    right: 400px;

}

.poke{

    position: fixed;
    top: 400px;
    right: 500px;
}