<head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

<img id="a " src ="../../../assets/Pokemon.png " height="250" width="250" >

<img class =" poke" src ="../../../assets/pokeball.gif" height="250" width="250" >
<img class="ven" src ="../../../assets/vens.png" height="250" width="250" >
<img id="b" src ="../../../assets/piki.png" height="250" width="250" >
<img class="animate__animated animate__bounce" src ="../../../assets/Gotta-catch-em-all.png" height="250" width="250" >

<main class="container">

    <app-login-form (login)="handleLogin()"></app-login-form>
  
</main>


