@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-image: url("assets/pokemon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

